{% extends 'GesClient/base.html' %}

{% block conteneur%}

    <div class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 contents">
                  <div class="row justify-content-center">
                    <div class="col-md-12">
                      <div class="form-block">
                            <div class="mb-4">
                              <button class="btn btn-primary btn-xs">  <a href="{% url 'liste'%}"  style="color:white; text-decoration:none;">Retour</a></button> <br/> 

                                <br>
                        
                                <h3 class="alert alert-info">Voir les informations du client</h3>
                                <form action="" method="post">
                                    {% csrf_token %}

                                    <div class="form-group first">
                                        <b>Nom:</b>
                                        <label for="categorie"></label>
                                        {{ pi.nom }}
                                    </div>


                                    <div class="form-group first"><b>Prenoms:</b>
                                        <label for="prenom"></label>
                                        {{ pi.prenom }}
                                    </div>

                                    <div class="form-group first"><b>Genre:</b>
                                        <label for="sexe"></label>
                                        {{ pi.sexe }}
                                    </div>


                                    <div class="form-group first"><b>Telephone:</b>
                                        <label for="telephone"></label>
                                        {{ pi.telephone }}
                                    </div>
                                    
                                    <div class="form-group first"><b>Email:</b>
                                        <label for="email"></label>
                                        {{ pi.email }}
                                    </div>
                                    
                                    <div class="form-group first"><b>Adresse:</b>
                                        <label for="adresse"></label>
                                        {{ pi.adresse }}
                                    </div>
                                    
                                    <div class="form-group first"><b>Profil:</b>
                                        <label for="profil"></label>
                                        {{ pi.profil }}
                                    </div>
                                    
                                    <div class="form-group first"><b>Date de rendez-vous:</b>
                                        <label for="date_rendez_vous"></label>
                                        {{ pi.date_rendez_vous }}
                                    </div>



                                    <span class="text-error" style="color:red">{{ form.errors }}</span>

                                </form> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
       
      

{% endblock %}