.container {
    padding: 2rem 0rem;
  }

  .tead{
    border-top: 6px solid green;
  }
  
  h4 {
    margin: 2rem 0rem 1rem;
  }
  
  .table-image {
    td, th {
      vertical-align: middle;
    }
  }
  table {
    border: 2px solid #000000;

    }
    td, th {
    border: 2pxsolid #6495ed;

    }