{% extends 'GesClient/base.html' %}



{% block search%} 
    
      
<form class="d-flex ml-3" action="{% url 'liste' %}" method="GET">
  <input class="form-control me-2" type="search" name="recherche" placeholder="rechercher...">
  
  <button class="btn btn-secondary" type="submit" >Rechercher</button> 
</form>      
    

{% endblock %} 


{% block js %}

<script>
  function suppression(id){
    swal({
      "title":"Suppression",
      "text":"Voulez-vous vraiment le supprimer ?",
      "icon":"question",
      "showCancelButton":true,
      "cancelButtonText":"Non",
      "confirmButtontext":"Oui",
      "reverseButtons":true,
      "confirmButtonColor":"#dc3545"

    })
  }
</script>

{% endblock %}

{% block conteneur %}
      <section style="position: relative; overflow-x:scroll; "  class="scroller">
                <h1 class="alert alert-info" style="text-align:center; ">Page de Liste des Clients </h1>
                <hr class="ligne">
                <br/> 
                <div class="card-header">
                  <h1 class="card-title" style="text-align:center;">LISTE DES PROSPECTS</h1>
                </div>
                <br>
                        <div class="">
                         <div class="container">
                           <div class="row">
                            
                              <div class="col-12"><!--table table-striped table-hover-->
                                <table  class="table table-bordered table-secondary table-hover"><!--table table-bordered-->                
                
                                 
                                    
                                 <div class="bouton" >  <span><button type="button" class="btn btn-info"><a href="{%url 'ajouter'%}" style="color: white;">Retour</a></button></span> </div>
                
                                    <br/> <br/> 

                                  <thead class="tead">
                                    <tr>
                                      <th scope="col"> Nom </th>
                                      <th scope="col">Prénom</th>
                                      <th scope="col">Telephone</th>                
                                      <th scope="col">Email</th>  
                                      <th scope="col">Grades</th>
                                      <th scope="col">Profil</th>  
                                      <th scope="col">Profil Societe</th>              
                                      <th scope="col">Date rendez-vous</th>
                                      <th scope="col">Actions</th>

                                    </tr>
                                  </thead>
                                  <tbody>
                                    {%for clt in clients %}
                                      <tr> 
                                      <td>{{clt.nom | upper}}</td>
                                      <td>{{clt.prenom | lower}}</td>
                                      <td>{{clt.telephone}}</td>
                                      <td>{{clt.email}}</td>
                                      <td>{{clt.nomGrade}}</td>
                                      <td>{{clt.profil}}</td>
                                      <td>{{clt.profilS}}</td>
                                      <td>{{clt.date_rendez_vous}}</td>

                                    
                                      <td style="display:flex;">
                                        <a href="{% url 'seeCl' clt.id %}" class="btn btn-outline-success"><i class="uil uil-eye"></i></a>
                                        
                                        <a  href="{% url 'updateCl' clt.id %}"  class="btn btn-outline-primary"><i class="uil uil-edit"></i></a>  

                                        {% if user.is_authenticated and user.is_role == 'Administrateur'%}
                                        <form action="{% url 'deletedCl' clt.id %}" method="post" class="d-inline"> 
                                        {% csrf_token %}
                                        <a type="submit" class=" show_confirm"
                                          data-toggle="tooltip" title='Delete'><i class=" btn btn-outline-danger uil uil-trash"></i>
                                        </a> 
                                        </form>  
                                        {% endif %}
                                      </td>
                                      </tr>
                                      
                                    {% endfor%}


                                  </tbody>
                                </table>


                                <div>
                                  <ul class="pagination justify-content-center">
                                    {% if clients.has_previous %}
                                      <li class="page-item">
                                        <a  class="page-link" href="?page={{ clients.previous_page_number }}">
                                            <span aria-hidden="true" >&laquo;</span>
                                        </a>
                                      </li>
                                    {% endif %}
                                    <li class="page-item"><p class="page-link text-muted">Page {{ clients.number }} sur {{ clients.paginator.num_pages }} </p></li>
                                    {% if clients.has_next %}
                                    <li class="page-item">
                                      <a class="page-link" href="?page={{ clients.next_page_number }}">
                                        <span aria-hidden="true" >&raquo;</span>
                                      </a>
                                    </li>
                                    {% endif %}
                                  </ul>
                                </div>
            


                              </div>
                            </div>
                          </div>
                        </div>
      </section>          

          
{% endblock %}

{% block CustomScript %}
<script type="text/javascript">
  $('.show_confirm').click(function(event) {
      var form =  $(this).closest("form");
      var name = $(this).data("name");
      event.preventDefault();
      swal({
          title: `Voulez-vous vraiment supprimer cet enregistrement ?`,
          text: "Si vous le supprimez, il disparaîtra pour toujours.",
          icon: "warning",
          buttons: true,
          dangerMode: true,
      })
      .then((willDelete) => {
          if (willDelete) {
              form.submit();
          }
      });
  });
  
  </script>
{% endblock %}
